<%-include('partials/navigation')%>

<div class="container">
  <div class="row">
    <div class="col"> 
      <h1 class="text-center mb-5 text-dark font-weight-bold ">Actualice sus datos</h1>
    </div>
  </div>
</div>
       
<div class="container mt-5">
    <div class="row">
        <div class="col md-5">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <form action="/update/<%=usuarios.id%>" method="post">
                        <div class="form-group">
                           
                            <input type="hidden" name="id" class="form-control form-control-lg" value=" <%= usuarios.id%> ">
                          </div>
                        <div class="form-group">
                          <label for="nombre">Nombre</label>
                          <input type="text" name="nombre" class="form-control form-control-lg" value=" <%= usuarios.nombre%> ">
                        </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" name="email"  class="form-control form-control-lg" value="<%= usuarios.email%>">
                        </div>
                        <div class="form-group">
                          <label for="telefono">Teléfono</label>
                          <input type="tel" name="telefono" class="form-control form-control-lg" value="<%= usuarios.telefono%>">
                        </div>
                        <button type="submit" class="btn btn-light btn-block mt-2">Actualizar usuario</button>
                        <a href="/" class="btn btn-danger btn-block mt-2">Cancelar</a>        
                      </form>
                </div>
            </div>
        </div>
    </div>

</div>
